tetris-project/zoom/cloud/tetris-zoom/xml/协议/A2 基础命令/A23 操作反馈/schema/optstatus.schema.xsd

<?xml version="1.0"  encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" 
			attributeFormDefault="unqualified">
			
	<xsd:element name="response">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="commandname" type="xsd:string" />
				<!-- 被响应消息的序列号 -->
				<xsd:element name="seq" type="uuidType" />
				<xsd:element name="ts" type="xsd:unsignedLong" />
				<xsd:element name="response" type="xsd:string" />
				<!-- 异常操作反馈错误描述 -->
				<xsd:element name="error" type="xsd:string" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>